@model bootstrap.Models.IndexModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron crew-jumbotron-container">


    <h1>WELCOME TO BASEBALL STATS</h1>
    <div>
        <br />
        Click a page on the bar above to get started.
    </div>
</div>


